{% extends 'introduction.html' %}

{% load static %}

{% block introduction%}
    <form method="POST" action="{% url 'sign_up' %}">
        {% csrf_token %}
        <div class="login-header">
            <img src="{% static 'images/logo.jpg'%}" alt="">
            <h1 style="text-align: center;">Welcome!</h1>
        </div>
        {% if form.non_field_errors %}
            <div style="color: red">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="acre" value="{{ acre }}">
        <input type="hidden" name="call" value="{{ call_id }}">
        {{ form.username }}
        {% if form.username.errors%}
            <p style="color: rgb(223, 89, 89)">{{ form.username.errrors }}</p>
        {% endif %}
        
        {{ form.email }}
        {% if form.username.errors%}
            <p style="color: rgb(223, 89, 89)">{{ form.username.errrors }}</p>
        {% endif %}
        
        {{form.password1 }}
        {% if form.password1.errors%}
            <p style="color: rgb(223, 89, 89)">{{ form.username.errrors }}</p>
        {% endif %}

        {{ form.password2 }}
        {% if form.password2.errors%}
            <p style="color: rgb(223, 89, 89)">{{ form.username.errrors }}</p>
        {% endif %}
        <button type="submit">Login</button>
    </form>
{% endblock introduction %}